@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: rgb(50, 80, 111);
  --color-bg-variant: #2c2c6c;
  --color-primary: rgb(156, 174, 192);
  --color-primary-variant: rgb(101, 124, 148);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.5);

  --transition: all 400 ease;

  --container-width-lg: 65%;
  --container-width-md: 85%;
  --container-width-ms: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

/*====================== General Styles ============================*/

.container {
  width: var(--container-width-lg);
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 70px;
  margin: 0px;
  padding: 0px;
  color: var(--color-bg);
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

section {
  text-align: center;
  margin: -5px 0px;
  z-index: 1;
  background: var(--color-bg);
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 15px 5px;
  border-radius: 15%;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*======================= Media Queries (Medium) =============================*/

@media screen and (max-width: 1024px) {
  .container{
    width: var(--container-width-md);
  }
}

/*======================= Media Queries (Small) =============================*/

@media screen and (max-width: 600px) {
  .container{
    width: var(--container-width-sd);
  }
}